.schrim {
    background: linear-gradient(180deg in hsl, aqua, blue);
    margin: auto;
    border: beige solid;
    border-radius: 8px;
    height: 700px;
    width: 500px;
}

ol {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

li {
    text-align: center;
    padding-top: 5px;
    display: block;
    width: 400px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

li::-webkit-scrollbar {
    /* scrollbar löschen für safari */
    display: none;
}

h1 {
    text-align: center;
    text-decoration: double underline;

}

.inputdiv {
    margin: auto;
    padding-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

input {
    border-radius: 4px;
    display: block;
    width: 300px;
    height: 30px;
}

.add {
    display: block;
    border-radius: 4px;
    background-color: aqua;
    width: 40px;

}

main {
    height: 520px;
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    /* scrollbar löschen für Touchscreen */
    overscroll-behavior: none;
    /* scrollbar löschen für Explorer & Edge */
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    /* scrollbar löschen für safari */
    display: none;
}

.Liste {
    font-size: 20px;
}

.element {
    background-color: rgb(242, 244, 245, 0.3);
    color: aqua;
    text-decoration: line-through;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 8px;
    padding-bottom: 8px;

}

footer button {
    font-size: medium;
    display: block;
    border-radius: 5px;
    height: 30px;
}

.clear {
    background-color: orange;
}

.resetLast {
    background-color: aqua;
}